{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="aboutDiv aboutSlideAnim">
        <h1>About Me</h1>
        <div class="divLine"></div>
        <div class="aboutInner">
            <h3>Introduction</h3>
            <div class="fullDivLine"></div>
            <div class="aboutThreeQ">
                <p>
                    My name is Fernando Perez. I am currently 22 years old and I am a recent Computer Science college graduate. 
                    Ever since I was a child, I have been in love with videogames of all kinds. Currently, my favorite game of
                    all time is Xenoblade Chronicles 1. My favorite game series are Xenoblade, Zelda, Fire Emblem, Mega Man, and
                    Persona. I mostly play single-player games, and my favorite genres are RPG's, Platformers and Adventure games.
                    While I have my favorites, I'm always willing to try out new titles even if they're outside of my usual comfort
                    zone. The rest of this page will be dedicated to recounting my experiences with games growing up over the years.    
                </p>
            </div>
            <div class="aboutOneQ">
                <img class="aboutImg" src="../static/images/About/Me_Bigger.jpg">
            </div> 
            <h3>Early Childhood</h3>
            <div class="fullDivLine"></div>
            <div class="aboutThreeQ">
                <p>
                    My journey begins in 2004 when I received my very first videogame and console at the age of 3. I got 
                    <i>Mario Kart: Double Dash!!</i> for the Nintendo GameCube. To say I fell in love would be an understatement.
                    The game jumpstarted my journey with games and gave me hours of fun with my friends and family alike. After that,
                    I kept playing games on the system that became priceless pieces of my childhood, such as <i>Crash Tag Team Racing</i>
                    and <i>Nicktoons: Battle for Volcano Island</i>. I also used to play tons of licensed games like <i>Shrek 2</i>, <i>
                    Madagascar</i>, <i>Nicktoons: Unite!</i>, etc. Looking back, these games were very mediocre at best, but I would be
                    lying if I said I didn't have tons of fun and memories with them. During this time, I also used to be really bad at
                    games (you could argue I still am), so I almost never really beat most of these games by myself. It was usually my
                    dad or older sister who would help me finish them. Other titles I was into were <i>LEGO</i> games like <i>LEGO Batman</i>
                    and <i>LEGO Star Wars: The Complete Saga</i>. The two series I played most during these years were Super Mario and Sonic
                    the Hedgehog. <i>New Super Mario Bros.</i>, <i>Super Mario 64 DS</i>, <i>Mario Kart</i>, <i>Sonic Adventure</i> 1 and 2,
                    and <i>Sonic Heroes</i> make up the bulk of these. I didn't really start playing other big series like Zelda or Pokemon
                    until my early teens, as I simply wasn't exposed to them until I started using the Internet more often. Regardless, these
                    years were some of my most cherished. While a lot of the games I played may not have been the best, I have strong unforgettable
                    memories with them. It's a shame I returned most of those titles to Gamestop, though I do have a couple still in my possession.
                </p>
            </div> 
            <div class="aboutOneQ">
                <img class="aboutImg" src="../static/images/About/gamecube.jpg">
            </div>    
            <h3>Early Teens</h3>
            <div class="fullDivLine"></div>                     
            <div class="aboutTwoQ" style="float: right; padding-right:0px">
                <img class="aboutImgHalf" src="../static/images/About/WindWaker.jpg">
                <img class="aboutImgHalf" src="../static/images/About/Rayman.jpg">
            </div>
            <div style="min-height: 400px;">
                <p style="width: 100%;">
                    My early teens were a period of massive change in my life. Aside from my family moving far away and having to go a new school with loads
                    of new people, I also started spending more times on the Internet, using sites like YouTube. It was through YouTube that I was eventually
                    introduced to <i>Let's Play</i> channels, which uploaded guides and playthroughs of different games. These videos exposed me to a lot of
                    different game series like <i>Super Smash Bros.</i>, <i>The Legend of Zelda</i>, and <i>Mega Man</i>. This was the time that I played games like
                    <i>The Legend of Zelda: The Wind Waker</i> and <i>Super Smash Bros. Brawl</i>. I also started getting into anime through shows like <i>Dragon Ball Z</i>,
                    so I really enjoyed <i>Dragon Ball Z Budokai Tenkaichi 3</i>. Overall, I have a ton of fond memories of these years despite the stressful
                    changes and difficulties. A lot of the games I played ended up shaping my taste and preferences to this day.
                </p> 
            </div>   
            <br/> 
            <h3>Mid Teens</h3>
            <div class="fullDivLine"></div>
            <div class="aboutTwoQ" style="float: left; margin-right:20px; margin-left:0px">
                <img class="aboutImgHalf" src="../static/images/About/XB1.jpg">
                <img class="aboutImgHalf" src="../static/images/About/TP.jpg">
            </div>
            <div style="min-height: 600px;">
                <p style="width: 100%;">
                    My mid-teens were also a tine where my taste in games starting changing drastically. The main thing was my growing interest in Anime and Japanese
                    RPG's. Through sites like YouTube, I began getting exposed to these massive story-driven games with memorable characters, creative artstyles, and dozens 
                    of hours of content. It was during these years that I played some of my favorite games of all time, like <i>Xenoblade Chronicles</i>. RPG's in general 
                    just provided such an awesome form of escape from reality into immersive, beautiful worlds. The games being so long also meant that they were a massive
                    mental and emotional investment. You get attached to the world and story of these characters so much so that it always feels bittersweet when you eventually
                    finish the game.
                </p>
                <br/>
                <p>
                    In these years, I also played other Zelda games like <i>Twilight Princess</i>, which would also end up being one of my favorite games of all time. <i>Fire Emblem</i>
                    entered the fray as well when I played <i>Awakening</i> back in 2014, having been introduced to the series through <i>Smash Bros.</i> I wasn't really
                    into strategy games as much as a kid, but <i>Fire Emblem</i>'s story, characters, and anime aesthetic exposed me to them and now I'm a big fan of the genre.
                </p>
                <br/>
                <p>
                    Another big change that happened was that I started shifting away a bit from being an exclusive Nintendo player and instead started trying out games on different
                    PlayStation systems like the PS3, PSP, and PS Vita. One such game series was <i>Ratchet and Clank</i>, which I became a huge fan of having played through the
                    entire mainline series of games. I also loved <i>Jak and Daxter</i> and <i>Uncharted</i>. Lastly, <i>Little Big Planet</i> was another series that I ended up playing
                    for hundreds of hours with a close friend at the time.
                </p>
            </div>
            <br/>
            <h3>Late Teens</h3>      
            <div class="fullDivLine"></div>      
            <div class="aboutTwoQ" style="float: left; margin-right:20px; margin-left:0px; min-height: 850px">
                <img class="aboutImgHalf" src="../static/images/About/XB2.jpg">
                <img class="aboutImgHalf" src="../static/images/About/P5.jpg">
                <img class="aboutImgHalf" src="../static/images/About/Automata.jpg"> 
                <img class="aboutImgHalf" src="../static/images/About/Odyssey.jpg">
            </div>
            <div style="min-height: 800px;">
                <p style="width: 100%;">
                    My late teens were anothe period in my life that were filled with stress, due to once again moving and having to get used to a new school and new people. Nevertheless,
                    the games that I played during these times mean a lot to me, and many of them are some of my favorite games of all time. <i>Xenoblade Chronicles 2</i> came out as the sequel
                    to my favorite game of all time and while I don't think the game quite matched the quality of its predecessor, it was still an amazing experience overall.                    
                </p>
                <br/>
                <p>
                    <i>Super Mario Odyssey</i> was a game that helped me a lot when it came out. It was during the aftermath of Hurricane Maria, a terrible storm that struck Puerto Rico and
                    left massive destruction in its wake. Mario Odyssey was an amazing content-packed game that helped me stay positive and have fun during such sad times. I still remember hooking
                    up my <i>Switch</i> to the generator to charge a few hours of gaming each day.
                </p>
                <br/>
                <p>
                    Between 2018 and 2019, I was also introduced to the <i>Persona</i> series and played through 5, 3, and 4. These games are great classic RPG's that invole time management
                    and social simulation aspects. Their stories and characters are often more relatable and realistic due to taking place in a modern Japanese setting.
                </p>
                <br/>
                <p>
                    <i>Chrono Trigger</i> is a game that I played back when I was like 13, but never finished due to generally being pretty bad at turn-based games at the time. It wasn't until around
                    2018 that I really played through the game in its entirety. Words cannot express how much I love this game and how much of a timeless classic it is. Very few games just knock it
                    out of the park on almost all fronts quite like Chrono Trigger does. 
                </p>
                <br/>
                <p>
                    One cannot talk about games in the year 2017 without mentioning the absolute behemoth that was <i>The Legend of Zelda: Breath of the Wild</i>. This game ate my life and was
                    an unforgettable experience from start to finish. Other games I played during these years include <i>Celeste</i>, <i>Fire Emblem: Path of Radiance</i>, and 
                    <i>Valkyria Chronicles</i>. These are all games that mean a lot to me as well and made those difficult highschool years a little easier. 
                </p>
            </div>
            <br/>
            <h3>Recent Years</h3>
            <div class="fullDivLine"></div>   
            <div class="aboutTwoQ" style="float: right; margin-right:20px; width: 25%;">
                <img class="aboutImgHalf" style="min-width: 100%;" src="../static/images/About/Witcher.jpg">
            </div>
            <div style="min-height: 500px;">
                <p>
                    The last 4 years have been ones filled with much change. From college to working and job hunting, there has not been a dull moment in my life recently. Throughout these
                    years of stress and anxiety, games have served as a way for me to distract myself and relax a little when the moment allows. 
                </p>
                <p>
                    Some amazing games that I played include <i>Hollow Knight</i>, <i>CrossCode</i>, <i>NieR: Automata</i>, <i>God of War</i> (2018), and <i>xenoblade Chronicles 3</i>. 
                    These are some titles that will stick with me for years to come, as they provided me with incredible and unforgettable experiences.
                </p>
                <p>
                    Other big titles include <i>Genshin Impact</i>, a gacha game that is far more addicting than it has any right to be. I have no doubt spent over a thousand hours since
                    Sepetember of 2021 grinding and collecting new characters in this game. Despite the many issues I have with it, I have stuck around due to liking so many things about
                    the game.
                </p>
                <p>
                    While my journey with video games may not be such a big deal to many, it is still something that means a lot to me, and I wanted to use this project to record my experiences
                    over the years and express my thoughts on the titles I have played. Games have been a massive part of my life since childhood, and I think this project has been a great way 
                    to show my passion while learning a bit more about Full Stack website development.
                </p>
            </div>
            <div class="aboutRow">
                <div class="aboutClmn">
                    <img class="aboutGridImg" src="../static/images/About/collection.jpg">
                    <img class="aboutGridImg" src="../static/images/About/Replicant.jpg">
                </div>
                <div class="aboutClmn">
                    <img class="aboutGridImg" src="../static/images/About/steam_library.jpg">
                    <img class="aboutGridImg" src="../static/images/About/Dread.jpg">
                </div>
                <div class="aboutClmn">
                    <img class="aboutGridImg" src="../static/images/About/Mario_3D.jpg">
                </div>
            </div>
        </div>
</div>
{% endblock %}