{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="aboutDiv">
        <h1>About Me</h1>
        <div class="divLine"></div>
        <div class="aboutInner">
            <h3>Introduction</h3>
            <div class="fullDivLine"></div>
            <div class="aboutThreeQ">
                <p>
                    My name is Fernando Perez. I am currently 22 years old and I am a recent Computer Science college graduate. 
                    Ever since I was a child, I have been in love with videogames of all kinds. Currently, my favorite game of
                    all time is Xenoblade Chronicles 1. My favorite game series are Xenoblade, Zelda, Fire Emblem, Mega Man, and
                    Persona. I mostly play single-player games, and my favorite genres are RPG's, Platformers and Adventure games.
                    While I have my favorites, I'm always willing to try out new titles even if they're outside of my usual comfort
                    zone. The rest of this page will be dedicated to recounting my experiences with games growing up over the years.    
                </p>
            </div>
            <div class="aboutOneQ">
                <img class="aboutImg" src="../static/images/About/Me_Bigger.jpg">
            </div> 
            <h3>Early Childhood</h3>
            <div class="fullDivLine"></div>
            <div class="aboutThreeQ">
                <p>
                    My journey begins in 2004 when I received my very first videogame and console at the age of 3. I got 
                    <i>Mario Kart: Double Dash!!</i> for the Nintendo GameCube. To say I fell in love would be an understatement.
                    The game jumpstarted my journey with games and gave me hours of fun with my friends and family alike. After that,
                    I kept playing games on the system that became priceless pieces of my childhood, such as <i>Crash Tag Team Racing</i>
                    and <i>Nicktoons: Battle for Volcano Island</i>. I also used to play tons of licensed games like <i>Shrek 2</i>, <i>
                    Madagascar</i>, <i>Nicktoons: Unite!</i>, etc. Looking back, these games were very mediocre at best, but I would be
                    lying if I said I didn't have tons of fun and memories with them. During this time, I also used to be really bad at
                    games (you could argue I still am), so I almost never really beat most of these games by myself. It was usually my
                    dad or older sister who would help me finish them. Other titles I was into were <i>LEGO</i> games like <i>LEGO Batman</i>
                    and <i>LEGO Star Wars: The Complete Saga</i>. The two series I played most during these years were Super Mario and Sonic
                    the Hedgehog. <i>New Super Mario Bros.</i>, <i>Super Mario 64 DS</i>, <i>Mario Kart</i>, <i>Sonic Adventure</i> 1 and 2,
                    and <i>Sonic Heroes</i> make up the bulk of these. I didn't really start playing other big series like Zelda or Pokemon
                    until my early teens, as I simply wasn't exposed to them until I started using the Internet more often. Regardless, these
                    years were some of my most cherished. While a lot of the games I played may not have been the best, I have strong unforgettable
                    memories with them. It's a shame I returned most of those titles to Gamestop, though I do have a couple still in my possession.
                </p>
            </div> 
            <div class="aboutOneQ">
                <img class="aboutImg" src="../static/images/About/gamecube.jpg">
            </div>    
            <h3>Early Teens</h3>
            <div class="fullDivLine"></div>                     
            <div class="aboutTwoQ" style="float: right; padding-right:0px">
                <img class="aboutImgHalf" src="../static/images/About/WindWaker.jpg">
                <img class="aboutImgHalf" src="../static/images/About/DBZBT3.png">
            </div>
            <p style="width: 100%;">
                gsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcss
            </p>
            <br/> 
            <h3>Mid Teens</h3>
            <div class="fullDivLine"></div>
            <div class="aboutTwoQ" style="float: left; margin-right:20px; margin-left:0px">
                <img class="aboutImgHalf" src="../static/images/About/xenoblade.jpg">
                <img class="aboutImgHalf" src="../static/images/About/TP.jpg">
            </div>
            <p style="width: 100%;">
                gsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcss
            </p>
            <br/>
            <h3>Late Teens</h3>      
            <div class="fullDivLine"></div>      
            <div class="aboutTwoQ" style="float: left; margin-right:20px; margin-left:0px; min-height: 850px">
                <img class="aboutImgHalf" src="../static/images/About/xenoblade_2.jpg">
                <img class="aboutImgHalf" src="../static/images/About/P5.jpg">
                <img class="aboutImgHalf" src="../static/images/About/ChronoTrigger.jpg"> 
                <img class="aboutImgHalf" src="../static/images/About/mario.jpg">
            </div>
            <p style="width: 100%;">
                gsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcss
            </p>
            <br/>
            <h3>Recent Years</h3>
            <div class="fullDivLine"></div>   
            <div class="aboutTwoQ" style="float: right; margin-right:20px; width: 25%;">
                <img class="aboutImgHalf" style="min-width: 100%;" src="../static/images/About/HK.jpg">
            </div>
            <p>
                gsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcssgsdwahgduhwdgsdfgvshjgchjsgchjgsjhcsczjhcgsgcgsucydgsugcysgcscgsucgscguyyucgsuycgyusgcgsycgsuygcuysgcgscgscuygsudygcs
                wudhshsahcjhschskjchskchskhcjlkscklscshclkschschkscscjishcjscksckshcss   
            </p>
            <div class="aboutRow">
                <div class="aboutClmn">
                    <img class="aboutGridImg" src="../static/images/About/collection.jpg">
                    <img class="aboutGridImg" src="../static/images/About/star_rail.jpg">
                </div>
                <div class="aboutClmn">
                    <img class="aboutGridImg" src="../static/images/About/steam_library.jpg">
                    <img class="aboutGridImg" src="../static/images/About/crosscode.jpg">
                </div>
                <div class="aboutClmn">
                    <img class="aboutGridImg" src="../static/images/About/genshin.jpg">
                </div>
            </div>
        </div>
</div>
{% endblock %}