{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="aboutDiv">
        <h1>About Me</h1>
        <div class="divLine"></div>
        <div class="aboutInner">
            <div class="aboutThreeQ">
                <p>
                    hfhifhfhiuhfuhfhuhfushfhsfhuahfuhsuhfsahfhfhasfsojfaoifjoiajfijafofsfsfsfsfsfdhjsfhshjhfhksfhlkadawdaq
                </p>
            </div>
            <div class="aboutOneQ">
                <img class="aboutImg" src="../static/images/About/Me_Bigger.jpg">
            </div>           
        </div>
</div>
{% endblock %}