{% extends "base.html" %}
{% block title %}My Games{% endblock %}
{% block content %}
<div class="subContainerDiv">
    <h1>My Games</h1>
    <!-- Filters and sorters -->
    <form method="POST" id="filters">
        <label for="Search">Search:</label>
        <input 
        type="text" 
        class="form-control" 
        id="searchbar" 
        name="searchbar" 
        placeholder="Search"
        onkeydown="search(this)"
        autocomplete="off"
        />
        <div class="float-container">
            <div class="float-child">
                <label for="Sort">Sort by:</label>
                <select class="form-control gamesSelectors" name="sorter" id="sorter">
                        <option value="title">Title</option>
                        <option value="releaseDate">Release Date</option>
                        <option value="score">Score</option>
                        <option value="dateStarted">Date Started</option>
                </select>
                <label for="Platform">Platform</label>
                <select class="form-control gamesSelectors" name="platform_select" id="platform_select">
                    <option value="All">All</option>
                    <option value="NES">NES</option>
                    <option value="SNES">SNES</option>
                    <option value="PC">PC</option>
                    <option value="N64">N64</option>
                    <option value="PS1">PS1</option>
                    <option value="GBA">GBA</option>
                    <option value="Gamecube">Gamecube</option>
                    <option value="PS2">PS2</option>
                    <option value="PSP">PSP</option>
                    <option value="Wii">Wii</option>
                    <option value="PS3">PS3</option>
                    <option value="Mobile">Mobile</option>
                    <option value="DS">DS</option>
                    <option value="3DS">3DS</option>
                    <option value="Wii U">Wii U</option>
                    <option value="PS4">PS4</option>
                    <option value="Switch">Switch</option>
                    <option value="PS5">PS5</option>
                </select>
                <label for="Series">Series</label>
                <select class="form-control gamesSelectors" name="series_select" id="series_select">
                    <option value="All">All</option>
                    <option value="3D Mario">3D Mario</option>
                    <option value="2D Zelda">2D Zelda</option>
                    <option value="3D Zelda">3D Zelda</option>
                    <option value="Mega Man (Classic)">Mega Man (Classic)</option>
                    <option value="Mega Man X">Mega Man X</option>
                    <option value="Mega Man Zero">Mega Man Zero</option>
                    <option value="Metroid">Metroid</option>
                    <option value="Fire Emblem">Fire Emblem</option>
                    <option value="2D Sonic">2D Sonic</option>
                    <option value="3D Sonic">3D Sonic</option>
                    <option value="Persona">Persona</option>
                    <option value="Valkyria Chronicles">Valkyria Chronicles</option>
                    <option value="NieR">NieR</option>
                    <option value="Portal">Portal</option>
                    <option value="Xenoblade Chronicles">Xenoblade Chronicles</option>
                </select>
            </div>
            <div class="float-child">
                <label for="Order">Order: </label>
                <select class="form-control gamesSelectors" name="order" id="order">
                    <option value="desc">Descending</option>
                    <option value="asc">Ascending</option>
                </select>
                
                <label for="Franchise">Franchise</label>
                <select class="form-control gamesSelectors" name="franchise_select" id="franchise_select">
                    <option value="All">All</option>
                    <option value="Super Mario">Super Mario</option>
                    <option value="The Legend of Zelda">The Legend of Zelda</option>
                    <option value="Mega Man">Mega Man</option>
                    <option value="Metroid">Metroid</option>
                    <option value="Megami Tensei">Megami Tensei</option>
                    <option value="Fire Emblem">Fire Emblem</option>
                    <option value="Sonic the Hedgehog">Sonic the Hedgehog</option>
                    <option value="Valkyria Chronicles">Valkyria Chronicles</option>
                    <option value="NieR">NieR</option>
                    <option value="Portal">Portal</option>
                    <option value="Xeno">Xeno</option>
                    <option value="Honkai">Honkai</option>
                </select>
                <label for="Genre">Genre</label>
                <select class="form-control gamesSelectors" name="genre_select" id="genre_select">
                    <option value="All">All</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Collectathon">Collectathon</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Indie">Indie</option>
                    <option value="Metroidvania">Metroidvania</option>
                    <option value="Open_World">Open World</option>
                    <option value="2D_Platformer">2D Platformer</option>
                    <option value="3D_Platformer">3D Platformer</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="RPG">RPG</option>
                    <option value="JRPG">JRPG</option>
                    <option value="Sim">Simulation</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Tower_Defense">Tower Defense</option>
                    <option value="Turn-based">Turn-based</option>
                    <option value="Visual_Novel">Visual Novel</option>
                </select>
            </div>
        </div>
    </form>
    <button class="btn btn-primary" id="reset">Reset</button>
</div>
<div class="subContainerDiv">
    <h6>Displaying {{ count }} results:</h6>
    <div class="gameGridContainer">
        <!-- This grid is populated by each new game that is added and meets the filter requirements -->
        <!-- Depending on the sort_by and order selections, the grid is populated by different games in different orders -->
        <!-- The default sorting is to sort alphabetically by title. -->
        {% if sort_by == "default" and order == "default" %}
            {% for game in games | sort(attribute='title', reverse=False) %}
                <div class="gameGridItem" onclick="window.location='/{{ user.username }}/games/{{ game.id }}'">
                    <img class = "gameGridImage" src="../static/images/Public_Imgs/{{ game.gameCover }}">
                    <div class="gameGridTitle">
                        <h5>{{ game.title }}</h5>
                    </div>
                </div>
            {% endfor %} 
        <!-- Ascending order -->
        {% elif order == "asc" %}
            {% for game in games | sort(attribute=sort_by, reverse=False) %}
                <div class="gameGridItem" onclick="window.location='/{{ user.username }}/games/{{ game.id }}'">
                    <img class = "gameGridImage" src="../static/images/Public_Imgs/{{ game.gameCover }}">
                    <div class="gameGridTitle">
                        <h5>{{ game.title }}</h5>
                    </div>
                </div>
            {% endfor %} 
        {% else %}
        <!-- Descending order -->
            {% for game in games | sort(attribute=sort_by, reverse=True) %}
                <div class="gameGridItem" onclick="window.location='/games/{{ game.id }}'">
                    <img class = "gameGridImage" src="../static/images/Public_Imgs/{{ game.gameCover }}">
                    <div class="gameGridTitle">
                        <h5>{{ game.title }}</h5>
                    </div>
                </div>
            {% endfor %} 
        {% endif %}    
    </div>
</div>
<script src="/static/js/games.js"></script>
<script>
    window.onload = function() {
        main('{{ sort_by }}')
    }
</script>
{% endblock %}

