{% extends "base.html" %}
{% block title %}My Games{% endblock %}
{% block content %}
<div class="subContainerDiv">
    <h1>My Games</h1>
    <form method="POST" id="filters">
        <label for="Search">Search:</label>
        <input 
        type="text" 
        class="form-control" 
        id="searchbar" 
        name="searchbar" 
        placeholder="Search"
        onkeydown="search(this)"
        autocomplete="off"
        />
        <div class="float-container">
            <div class="float-child">
                <label for="Sort">Sort by:</label>
                <select class="form-control gamesSelectors" name="sorter" id="sorter">
                        <option value="title">Title</option>
                        <option value="releaseDate">Release Date</option>
                        <option value="score">Score</option>
                        <option value="dateStarted">Date Started</option>
                </select>
                <label for="Platform">Platform</label>
                <select class="form-control gamesSelectors" name="platform_select" id="platform_select">
                    <option value="All">All</option>
                    <option value="NES">NES</option>
                    <option value="SNES">SNES</option>
                    <option value="PC">PC</option>
                    <option value="PS1">PS1</option>
                    <option value="Gamecube">Gamecube</option>
                    <option value="PS2">PS2</option>
                    <option value="Wii">Wii</option>
                    <option value="Mobile">Mobile</option>
                    <option value="3DS">3DS</option>
                    <option value="Wii U">Wii U</option>
                    <option value="Switch">Switch</option>
                    <option value="PS5">PS5</option>
                </select>
                <label for="Series">Series</label>
                <select class="form-control gamesSelectors" name="series_select" id="series_select">
                    <option value="All">All</option>
                    <option value="3D Zelda">3D Zelda</option>
                    <option value="Mega Man (Classic)">Mega Man (Classic)</option>
                    <option value="Mega Man X">Mega Man X</option>
                    <option value="Persona">Persona</option>
                    <option value="Xenoblade Chronicles">Xenoblade Chronicles</option>
                </select>
            </div>
            <div class="float-child">
                <label for="Order">Order: </label>
                <select class="form-control gamesSelectors" name="order" id="order">
                    <option value="desc">Descending</option>
                    <option value="asc">Ascending</option>
                </select>
                
                <label for="Franchise">Franchise</label>
                <select class="form-control gamesSelectors" name="franchise_select" id="franchise_select">
                    <option value="All">All</option>
                    <option value="The Legend of Zelda">The Legend of Zelda</option>
                    <option value="Mega Man">Mega Man</option>
                    <option value="Megami Tensei">Megami Tensei</option>
                    <option value="Xeno">Xeno</option>
                    <option value="Honkai">Honkai</option>
                </select>
                <label for="Genre">Genre</label>
                <select class="form-control gamesSelectors" name="genre_select" id="genre_select">
                    <option value="All">All</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Indie">Indie</option>
                    <option value="Metroidvania">Metroidvania</option>
                    <option value="Open_World">Open World</option>
                    <option value="2D_Platformer">2D Platformer</option>
                    <option value="3D_Platformer">3D Platformer</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="RPG">RPG</option>
                    <option value="JRPG">JRPG</option>
                    <option value="Sim">Simulation</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Turn-based">Turn-based</option>
                    <option value="Visual_Novel">Visual Novel</option>
                </select>
            </div>
        </div>
    </form>
    <button class="btn btn-primary" id="reset">Reset</button>
</div>
<div class="subContainerDiv">
    <div class="gameGridContainer">
        {% if sort_by == "default" and order == "default" %}
            {% for game in games | sort(attribute='title', reverse=False) %}
                <div class="gameGridItem" onclick="window.location='/games/{{ game.title }}'">
                    <img class = "gameGridImage" src="../static/images/{{ game.gameCover }}">
                    <div class="gameGridTitle">
                        <h5>{{ game.title }}</h5>
                    </div>
                </div>
            {% endfor %} 
        {% elif order == "asc" %}
            {% for game in games | sort(attribute=sort_by, reverse=False) %}
                <div class="gameGridItem" onclick="window.location='/games/{{ game.title }}'">
                    <img class = "gameGridImage" src="../static/images/{{ game.gameCover }}">
                    <div class="gameGridTitle">
                        <h5>{{ game.title }}</h5>
                    </div>
                </div>
            {% endfor %} 
        {% else %}
            {% for game in games | sort(attribute=sort_by, reverse=True) %}
                <div class="gameGridItem" onclick="window.location='/games/{{ game.title }}'">
                    <img class = "gameGridImage" src="../static/images/{{ game.gameCover }}">
                    <div class="gameGridTitle">
                        <h5>{{ game.title }}</h5>
                    </div>
                </div>
            {% endfor %} 
        {% endif %}    
    </div>
</div>
<script>
    function search(ele) {
        if(event.key == 'Enter'){
            localStorage.setItem('searchParam', document.getElementById('searchbar').value);
            document.getElementById("filters").submit();
        };
    };

    document.getElementById('sorter').onchange = function() {
        localStorage.setItem('selectedSort', document.getElementById('sorter').value);
        document.getElementById("filters").submit();
    };
    document.getElementById('order').onchange = function() {
        localStorage.setItem('selectedOrder', document.getElementById('order').value);
        document.getElementById("filters").submit();
    };
    document.getElementById('platform_select').onchange = function() {
        localStorage.setItem('selectedPlatform', document.getElementById('platform_select').value);
        document.getElementById("filters").submit();
    };
    document.getElementById('franchise_select').onchange = function() {
        localStorage.setItem('selectedFranchise', document.getElementById('franchise_select').value);
        document.getElementById("filters").submit();
    };
    document.getElementById('series_select').onchange = function() {
        localStorage.setItem('selectedSeries', document.getElementById('series_select').value);
        document.getElementById("filters").submit();
    };
    document.getElementById('genre_select').onchange = function() {
        localStorage.setItem('selectedGenre', document.getElementById('genre_select').value);
        document.getElementById("filters").submit();
    };
    document.getElementById('reset').onclick = function() {
        localStorage.setItem('searchParam', document.getElementById('searchbar').value = "");
        localStorage.setItem('selectedSort', document.getElementById('sorter').value = "title");
        localStorage.setItem('selectedOrder', document.getElementById('order').value = "asc");
        localStorage.setItem('selectedPlatform', document.getElementById('platform_select').value = "All");
        localStorage.setItem('selectedFranchise', document.getElementById('franchise_select').value = "All");
        localStorage.setItem('selectedSeries', document.getElementById('series_select').value = "All");
        localStorage.setItem('selectedGenre', document.getElementById('genre_select').value = "All");
        document.getElementById("filters").submit()
    };

    window.onload = function() {
        const items = document.querySelectorAll('.gameGridItem');
        var i = 0.3;
        items.forEach(item => {          
            item.style.animation = "slideFadeUp " + i + "s";
            i += 0.075;
        })


        if('{{ sort_by }}' != "default"){
            document.getElementById("searchbar").value = localStorage.getItem('searchParam');
            document.getElementById("order").value = localStorage.getItem('selectedOrder');
            document.getElementById("sorter").value = localStorage.getItem('selectedSort');
            document.getElementById("platform_select").value = localStorage.getItem('selectedPlatform');
            document.getElementById("franchise_select").value = localStorage.getItem('selectedFranchise');
            document.getElementById("series_select").value = localStorage.getItem('selectedSeries');
            document.getElementById("genre_select").value = localStorage.getItem('selectedGenre');
        }
        else {
            localStorage.setItem('searchParam', document.getElementById('searchbar').value = "");
            localStorage.setItem('selectedSort', document.getElementById('sorter').value = "title");
            localStorage.setItem('selectedOrder', document.getElementById('order').value = "asc");
            localStorage.setItem('selectedPlatform', document.getElementById('platform_select').value = "All");
            localStorage.setItem('selectedFranchise', document.getElementById('franchise_select').value = "All");
            localStorage.setItem('selectedSeries', document.getElementById('series_select').value = "All");
            localStorage.setItem('selectedGenre', document.getElementById('genre_select').value = "All");
        };
    };
    setTimeout(function removeAnimations() {
        const items = document.querySelectorAll(".gameGridItem")

        items.forEach(item => {
            item.style.animation = "";
            console.log(item.style.animation)
            
        });
    }, 1000);

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }

</script>
{% endblock %}

